a.navbar-brand {
	margin-left: 30px;
	font-family: 'Oswald', sans-serif;
}

a.nav-link {
	margin-left: 50px;
	margin-top: 40px;
	font-family: "Times New Roman", Times, serif;
}

.auth {
	margin-left: 300px;
	margin-top: 10px;
	font-family: 'Arial Verdana', sans-serif;
}

a.login {
	color: white;
}

a.home {
	color: white;
}

a.login:hover {
	color: yellow;
}

a.register:hover {
	color: yellow;
}

a.register {
	color: white;
	margin-left: 10px;
}

.footer {
	margin-top: 50px;
}

h1 {
	margin-top: 100px;
}
/*nav.navbar {
    background-color: #c51122;
}*/
div.card {
	margin-top: 100px;	
}